version: 2.1

commands:
  circleci-image-update:
    description: 'update apt repo'
    steps:
      - run:
          name: circleci image update
          command: sudo mkdir -p /var/lib/apt/lists/partial ; sudo chmod 755 /var/lib/apt/lists/ ; echo "sudo rm -rf /etc/apt/sources.list.d/github_git-lfs.list"; sudo apt update

  install-bats:
    description: 'install bats from apt'
    steps:
      - run:
          name: Install bats
          command: sudo apt install -y bats bats-assert bats-file bats-support

  install-shellcheck:
    description: 'install shellcheck from apt'
    steps:
      - run:
          name: Install shellcheck
          command: sudo apt install -y shellcheck

  install-kcov:
    description: 'install kcov manually'
    steps:
      - run:
          name: Install kcov
          command: cd /tmp ; wget http://archive.ubuntu.com/ubuntu/pool/universe/k/kcov/kcov_43+dfsg-2_amd64.deb ; sudo dpkg -i kcov_43+dfsg-2_amd64.deb

  install-codecov:
    description: 'install pip && pipx from apt then codecov from pipx'
    steps:
      - run:
          name: Install pip
          command: sudo apt install -y pip pipx
      - run:
          name: Install codecov
          command: pipx install codecov-cli

  checkout-prereq:
    description: 'mkdir'
    steps:
      - run:
          name : mkdir destination directory for git checkout
          command: mkdir -p git/portainer

  checkout-libshell:
    description: 'checkout libshell'
    steps:
      - run:
          name : checkout libshell
          command: mkdir -p git/shell ; git clone https://github.com/cretinon/shell.git git/shell/

  checkout-libdocker:
    description: 'checkout libdocker'
    steps:
      - run:
          name : checkout libdocker
          command: mkdir -p git/docker ; git clone https://github.com/cretinon/docker.git git/docker/

  prepare-our-environment:
    description: 'set all prereq for my_warp'
    steps:
      - run:
          name: set all prereq for my_warp
          command: chmod +x ${HOME}/project/git/shell/my_warp.sh ; mkdir ${HOME}/conf ; echo -e "VERBOSE=false\nDEBUG=false\nFUNC_LIST=()\nMY_GIT_DIR=\"\${HOME}/project/git\"" > ${HOME}/conf/my_warp.conf

  circleci-image-result:
    description: 'results of previous build steps'
    steps:
      - run:
          name : Results of previous build steps
          command: type bats ; bats --version ; type shellcheck ; shellcheck --version ; type kcov ; kcov --version ; echo -n "pwd:"; pwd ; find . ; echo "my_warp.conf" ; cat ${HOME}/conf/my_warp.conf

  run-shellcheck:
    description: 'run shellcheck'
    steps:
      - run:
          name: Run shellcheck
          command: cd "${HOME}/project/git/portainer" && MY_GIT_DIR="${HOME}/project/git" ${HOME}/project/git/shell/my_warp.sh --lib portainer -s

  run-bats:
    description: 'run bats'
    steps:
      - run:
          name: Run bats
          command: cd "${HOME}/project/git/portainer" && MY_GIT_DIR="${HOME}/project/git" ${HOME}/project/git/shell/my_warp.sh --lib portainer -b

  run-kcov:
    description: 'run kcov'
    steps:
      - run:
          name: Run kcov
          command: cd "${HOME}/project/git/portainer" && MY_GIT_DIR="${HOME}/project/git" ${HOME}/project/git/shell/my_warp.sh -d -v --lib portainer -k

jobs:
  build-and-test:
    docker:
      - image: cimg/base:current
    steps:
      - circleci-image-update
      - install-bats
      - install-shellcheck
      - install-kcov
      - install-codecov
      - checkout-prereq
      - checkout:
          path: git/portainer
      - checkout-libshell
      - checkout-libdocker
      - prepare-our-environment
      - circleci-image-result
      - setup_remote_docker:
          docker_layer_caching: true
      - run-shellcheck
      - run-bats
      - run-kcov

workflows:
  test-libportainer:
     jobs:
       - build-and-test
